apiVersion: v1
kind: Namespace
metadata:
  name: security-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulnerable-app
  namespace: security-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vulnerable-app
  template:
    metadata:
      labels:
        app: vulnerable-app
    spec:
      containers:
      - name: app
        image: vulnerable-app:leaked
        imagePullPolicy: Never
